/* ICONS */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 0, "opsz" 24;
}

/* COMMON */
body {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: "Nanum Gothic", sans-serif;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.inner {
  position: relative;
  width: 1100px;
  margin: 0 auto;
}

.strong {
  font-weight: 700;
}

.btn {
  display: inline-block;
  padding: 5px 12px;
  border: 2px solid currentColor;
  border-radius: 5px;
  font-size: 15px;
}

.btn--light-green {
  color: #076443;
  border-color: #076443;
  transition: 0.6s;
}

.btn--light-green:hover {
  background-color: #076443;
  border-color: black;
  color: white;
  text-decoration: underline;
}

.btn--brown {
  border-color: #633510;
  color: #633510;
  transition: 0.6s;
}

.btn--brown:hover {
  background-color: #633510;
  color: white;
  text-decoration: underline;
}

.btn--gold {
  border-color: #966932;
  color: #966932;
  transition: 0.6s;
  cursor: pointer;
}

.btn--gold:hover {
  background-color: #966932;
  color: white;
  text-decoration: underline;
}

.btn--white {
  border-color: #fff;
  color: #fff;
  transition: 0.6s;
  cursor: pointer;
}

.btn--white:hover {
  background-color: #fff;
  color: black;
  text-decoration: underline;
}

.btn--black {
  border-color: #000;
  color: #000;
  transition: border-color color background-color text-decoration 0.6s;
  cursor: pointer;
}

.btn--black:hover {
  background-color: #000;
  color: white;
  text-decoration: underline;
}

/* HEADER */
header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #f6f5ef;
  border-top: 2px solid black;
  border-bottom: 1px solid #eae7e2;
  z-index: 1;
}

header > .inner {
  height: 120px;
  background-color: #f6f5ef;
}

header .inner .logo {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  height: 75px;
  width: 75px;
}

/* SUB MENU */
header .inner .sub-menu {
  display: flex;
  align-items: center;
  position: absolute;
  top: 6px;
  right: 50px;
}

header .inner .sub-menu .sub-menu__menu {
  display: flex;
}

header .inner .sub-menu .sub-menu__menu > li:not(:first-child)::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  display: block;
  width: 1px;
  height: 13px;
  background-color: #e5e5e5;
}

header .inner .sub-menu .sub-menu__menu > li > a {
  padding: 10px 15px;
  display: block;
  color: #656565;
  font-size: 13px;
}

header .inner .sub-menu .sub-menu__menu > li > a:hover {
  text-decoration: underline;
}

header .inner .sub-menu .search {
  position: relative;
}

header .inner .sub-menu .search > input {
  width: 36px;
  height: 34px;
  padding: 4px 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  transition: width 0.4s;
}

header .inner .sub-menu .search > input.search-trans {
  width: 190px;
}

header .inner .sub-menu .search > .material-symbols-outlined {
  position: absolute;
  height: 24px;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 3px;
  z-index: 999999;
}

/* MAIN_MENU */
header .inner .main_menu {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;

  align-items: center;
}

header .inner .main_menu .item .item__name {
  padding: 10px 20px 34px 20px;
  font-size: 13px;
}

header .inner .main_menu .item:hover .item__name {
  background-color: #2c2a29;
  color: #669900;
  text-decoration: underline;
  cursor: pointer;
}

/* MAIN_MENU_CONTENTS */

header .inner .main_menu .item .item__contents {
  position: fixed;
  left: 0;
  top: 120px;
  width: 100%;
  display: none;
  /* transform: scaleY(0);
  transform-origin: center top;
  transition: 0.5s; */
}

header .inner .main_menu .item:hover .item__contents {
  display: block;
  /* transform: scaleY(1); */
}

header .inner .main_menu .item .item__contents .item__contents__menu {
  background-color: #2c2a29;
  padding: 20px 0px;
}

header .inner .main_menu .item .item__contents .item__contents__menu .inner {
  display: flex;
}

header
  .inner
  .main_menu
  .item
  .item__contents
  .item__contents__menu
  .inner
  > li {
  width: 200px;
  padding-right: 20px;
}

header
  .inner
  .main_menu
  .item
  .item__contents
  .item__contents__menu
  .inner
  > li
  > a {
  display: block;
  color: white;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 14px;
}

header
  .inner
  .main_menu
  .item
  .item__contents
  .item__contents__menu
  .inner
  > li
  > a:hover {
  text-decoration: underline;
}

header
  .inner
  .main_menu
  .item
  .item__contents
  .item__contents__menu
  .inner
  > li
  > ul
  > li {
  color: #999;
  font-size: 12px;
  margin: 5px 0;
}

header
  .inner
  .main_menu
  .item
  .item__contents
  .item__contents__menu
  .inner
  > li
  > ul
  > li:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* BADGES */

header .badges {
  position: absolute;
  top: 150px;
  left: calc(1100px + (100vw - 1100px) / 2);
}

header .badges .badge {
  cursor: pointer;
}

header .badges .badge img {
  width: 140px;
}

@media screen and (max-width: 1400px) {
  header .badges {
    left: calc(100vw - 150px);
  }
}

/* VISUAL */
.visual {
  position: relative;
  margin-top: 120px;
  background-image: url("../images/visual_bg.jpg");
  background-position: center;
  background-size: 106% 100%;
  background-repeat: no-repeat;
}

.visual .inner {
  position: relative;
  display: flex;
  height: 500px;
}

.visual .inner .slogan {
  position: absolute;
  top: 150px;
  left: 0;
}

.visual .inner .slogan img {
  width: 260px;
}

.visual .inner .slogan .btn {
  position: absolute;
  top: 180px;
  left: 70px;
}

.visual .inner img {
  position: relative;
}

.visual .inner .item-1 {
  width: 218px;
  height: 330px;
  top: 80px;
  left: 380px;
}

.visual .inner .item-2 {
  width: 240px;
  height: 250px;
  top: 150px;
  left: 310px;
}

.visual .inner .item-3 {
  width: 240px;
  height: 240px;
  top: 120px;
  left: 250px;
}

/* NOTICE */
.notice {
  position: relative;
}

.notice .notice-line {
  position: relative;
  font-weight: 700;
}

.notice .notice-line .bg-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #111111;
}

.notice .notice-line .bg-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #f6f5ef;
}

.notice .notice-line .inner {
  height: 62px;
  display: flex;
}

.notice .notice-line .inner .inner__left {
  position: relative;
  width: 60%;
  height: 100%;
  background-color: #111111;
  display: flex;
  align-items: center;
  color: white;
}

.notice .notice-line .inner .inner__left h1 {
  position: absolute;
  left: 0;
  font-size: 16px;
}

.notice .notice-line .inner .inner__left div {
  position: absolute;
  left: 80px;
  font-size: 14px;
}

.notice .notice-line .inner .inner__left a {
  position: absolute;
  right: 20px;
  color: white;
}

.notice .notice-line .inner .inner__left a span {
  font-size: 36px;
  vertical-align: bottom;
}

.notice .notice-line .inner .inner__right {
  position: relative;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #f6f5ef;
}

.notice .notice-line .inner .inner__right h1 {
  position: absolute;
  right: 120px;
  font-size: 16px;
}

.notice .notice-line .inner .inner__right a {
  position: absolute;
  right: 20px;
  color: black;
}

.notice .notice-line .inner .inner__right a span {
  font-size: 36px;
  display: block;
}

/* REWARDS */
.rewards {
  position: relative;
  background-color: #1e3932;
}

.rewards .inner {
  position: relative;
  padding: 30px 0 40px 0;
  display: flex;
}

.rewards .inner .rewards__logo {
  display: flex;
  flex-basis: 260px;
  justify-content: center;
}

.rewards .inner .rewards__logo img {
  display: block;
  width: 176px;
}

.rewards .inner .rewards__items {
  flex-grow: 1;
}

.rewards .inner .rewards__items .rewards__items__register {
  position: relative;
  padding-bottom: 12px;
  box-shadow: 0 0.5px #c8c8c8;
}

.rewards .inner .rewards__items .rewards__items__register p {
  display: block;
  font-size: 17px;
  color: white;
}

.rewards .inner .rewards__items .rewards__items__register p.subject {
  font-size: 26px;
  margin-bottom: 10px;
}

.rewards .inner .rewards__items .rewards__items__register .buttons {
  position: absolute;
  right: 0;
  bottom: 12px;
}

.rewards
  .inner
  .rewards__items
  .rewards__items__register
  .buttons
  .btn--register {
  background-color: #00704a;
  border-color: #00704a;
  color: white;
  margin-right: 6px;
  font-weight: 700;
}

.rewards .inner .rewards__items .rewards__items__register .buttons .btn--login,
.rewards .inner .rewards__items .rewards__items__card .buttons .btn--login {
  border-color: white;
  color: white;
  font-weight: 700;
}

.rewards
  .inner
  .rewards__items
  .rewards__items__register
  .buttons
  .btn--register:hover,
.rewards
  .inner
  .rewards__items
  .rewards__items__register
  .buttons
  .btn--login:hover,
.rewards
  .inner
  .rewards__items
  .rewards__items__card
  .buttons
  .btn--login:hover {
  text-decoration: underline;
}

.rewards .inner .rewards__items .rewards__items__card {
  position: relative;
}

.rewards .inner .rewards__items .rewards__items__card p {
  margin-top: 12px;
  display: block;
  font-size: 14px;
  color: white;
}

.rewards .inner .rewards__items .rewards__items__card .buttons {
  position: absolute;
  right: 0;
  bottom: 0;
}

/* ELSALVADOR */
.elsalvador {
  position: relative;
  height: 500px;
  background-image: url("../images/elsalvador_bg.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  background-repeat: no-repeat;
}

.elsalvador .inner img.elsalvador_item {
  position: absolute;
  width: 310px;
  height: 440px;
  left: 120px;
  top: 50px;
  transform: translateX(-700px);
  opacity: 0;
  transition: 2.5s;
}

.elsalvador .inner .elsalvador__contents {
  position: absolute;
  left: 560px;
  top: 180px;
  transform: translateX(900px);
  transition: 2.5s;
  opacity: 0;
}

.elsalvador:hover .inner .elsalvador__contents,
.elsalvador:hover .inner img.elsalvador_item {
  transform: translateX(0);
  opacity: 1;
}

.elsalvador .inner .elsalvador__contents .btn.btn--brown {
  margin-top: 30px;
}

/* ETHIOPIA */

.ethiopia {
  position: relative;
  height: 400px;
  background-image: url("../images/ethiopia_bg.png");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  background-repeat: no-repeat;
}

.ethiopia .inner {
  height: 100%;
}

.ethiopia::before {
  content: "";
  position: absolute;
  width: 425px;
  height: 404px;
  background-image: url("../images/ethiopia_before.png");
  background-size: cover;
  background-repeat: no-repeat;
  bottom: 0;
  left: -50px;
  opacity: 0;
}

.ethiopia::after {
  content: "";
  position: absolute;
  width: 360px;
  height: 400px;
  background-image: url("../images/ethiopia_after.png");
  background-size: cover;
  background-repeat: no-repeat;
  bottom: 0;
  right: -80px;
  opacity: 0;
}

.ethiopia:hover::before,
.ethiopia:hover::after {
  transition: 1.5s;
  opacity: 1;
}

.ethiopia .inner .ethiopia__contents {
  position: absolute;
  width: 496px;
  top: 120px;
}

.ethiopia .inner .ethiopia__item {
  position: absolute;
  right: -400px;
  opacity: 0;
}

.ethiopia:hover .inner .ethiopia__item {
  transition: 1.5s;
  transition-delay: 0.8s;
  opacity: 1;
}

.ethiopia .inner .btn.btn--gold {
  position: absolute;
  box-sizing: border-box;
  text-align: center;
  width: 118px;
  top: 285px;
  left: 260px;
}

/* FAVORITE */

.favorite {
  position: relative;
  height: 800px;
  background-image: url("../images/fav_bg.png");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow: hidden;
}

.favorite .inner .favorite__text-1 {
  position: absolute;
  top: 120px;
  left: 100px;
  transform: translateX(-700px);
  opacity: 0;
  transition: 1.5s;
}

.favorite:hover .inner .favorite__text-1 {
  transform: translateX(0);
  opacity: 1;
}

.favorite .inner .favorite__text-2 {
  position: absolute;
  top: 370px;
  left: 0;
  transform: translateX(-700px);
  opacity: 0;
  transition: 1.5s;
}

.favorite:hover .inner .favorite__text-2 {
  transform: translateX(0);
  opacity: 1;
  transition-delay: 0.3s;
}

.favorite .inner .btn.btn--white {
  position: absolute;
  top: 580px;
  left: 238px;
  width: 125px;
  height: 38px;
  box-sizing: border-box;
  text-align: center;
  opacity: 0;
  transition: 1.8s;
}

.favorite:hover .inner .btn.btn--white {
  opacity: 1;
}

.favorite .inner .favorite__img {
  position: absolute;
  top: 100px;
  right: -253px;
  width: 912px;
  height: 575px;
}

/* MAGAZINE */

.magazine {
  position: relative;
  height: 400px;
  background-image: url("../images/magazine_bg.png");
  background-position: -260px 45px;
  background-repeat: no-repeat;
  overflow: hidden;
}

.magazine .inner .magazine__text {
  position: absolute;
  top: 135px;
  left: 60px;
}

.magazine .inner .btn.btn--black {
  position: absolute;
  top: 270px;
  left: 295px;
}

.magazine .inner .magazine__img {
  position: absolute;
  width: 348;
  right: 50px;
  top: 0;
  opacity: 0;
  transition: 1.5s;
}

.magazine:hover .inner .magazine__img {
  opacity: 1;
}

/* STORE */

.store {
  position: relative;
  height: 400px;
  background-image: url("../images/store_bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.store .inner {
  height: 400px;
}

.store .inner .store__text-1 {
  position: absolute;
  width: 385px;
  top: 100px;
  right: 50px;
  transform: translateX(800px);
  transition: 1.5s;
}

.store .inner .store__text-2 {
  position: absolute;
  width: 366px;
  top: 170px;
  right: 69px;
  transform: translateX(800px);
  transition: 2s;
}

.store .inner .store__text-1,
.store .inner .store__text-2,
.store .inner .btn.btn--black {
  opacity: 0;
}

.store:hover .inner .store__text-1,
.store:hover .inner .store__text-2,
.store:hover .inner .btn.btn--black {
  transform: translateX(0);
  opacity: 1;
}

.store .inner .store__img-1 {
  position: absolute;
  width: 366px;
  top: 0;
  left: 70px;
}

.store .inner .store__img-2 {
  position: absolute;
  width: 228px;
  top: 150px;
  left: 300px;
}

.store .inner .store__img-3 {
  position: absolute;
  width: 348px;
  top: -60px;
  left: 430px;
}

.store .inner .store__img-4 {
  position: absolute;
  width: 230px;
  right: -70px;
  bottom: 0;
}

.store .inner .store__img-1,
.store .inner .store__img-2,
.store .inner .store__img-3,
.store .inner .store__img-4 {
  opacity: 0;
  transition: 1.5s;
}

.store:hover .inner .store__img-1,
.store:hover .inner .store__img-2,
.store:hover .inner .store__img-3,
.store:hover .inner .store__img-4 {
  opacity: 1;
}

.store .inner .btn.btn--black {
  position: absolute;
  top: 290px;
  right: 330px;
  width: 104px;
  height: 37px;
  box-sizing: border-box;
  text-align: center;
  transform: translateX(800px);
  transition: transform 2.5s;
}

/* FOOTER */
footer {
  position: relative;
  background-color: #2c2a29;
}

/* FOOTER MENU */
footer .inner .footer__menu {
  display: flex;
  height: 214px;
  padding-top: 40px;
}

footer .inner .footer__menu .left {
  width: 90%;
}

footer .inner .footer__menu .left .menu {
  display: flex;
}

footer .inner .footer__menu .left .menu > li {
  width: 20%;
}

footer .inner .footer__menu .left .menu > li > ul > a {
  font-size: 14px;
  color: white;
  margin: 10px 0px;
  font-weight: 700;
}

footer .inner .footer__menu .left .menu > li > ul > li {
  font-size: 12px;
  color: white;
  margin: 7px 0px;
  font-weight: 400;
}

footer .inner .footer__menu .left .menu > li > ul > a:hover,
footer .inner .footer__menu .left .menu > li > ul > li:hover {
  text-decoration: underline;
  cursor: pointer;
}

footer .inner .footer__menu .right {
  width: 10%;
}

footer .inner .footer__menu .right img {
  position: relative;
  right: -135px;
}

/* FOOTER SUB MENU */

footer .inner .footer__sub-menu > ul {
  display: flex;
  justify-content: center;
  font-size: 12px;
}

footer .inner .footer__sub-menu > ul > li {
  display: flex;
  align-items: center;
}

footer .inner .footer__sub-menu > ul > li > a {
  color: #cccccc;
  font-weight: 500;
}

footer .inner .footer__sub-menu > ul > li > a:hover {
  text-decoration: underline;
}

footer .inner .footer__sub-menu > ul > li:first-child > a {
  color: #00b050;
}

footer .inner .footer__sub-menu > ul .contour {
  color: #393939;
  font-size: 20px;
  text-align: center;
  padding: 0 10px;
}

/* FOOTER BTN */
footer .inner .footer__btn {
  display: flex;
  justify-content: center;
}

footer .inner .footer__btn > a {
  font-size: 12px;
  transition: none;
  background-color: inherit;
  border-radius: 3px;
  width: 114px;
  height: 34px;
  box-sizing: border-box;
  padding: 0px 10px;
  margin: 10px 2px 0 3px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  font-weight: 500;
}

/* FOOTER COPYRIGHT */

footer .inner .footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

footer .inner .footer__copyright p {
  font-size: 12px;
  color: #999;
  text-align: center;
  line-height: 30px;
}
